<style>

  .hand {
    cursor: pointer;
  }

  #navigation_bar {
    width: auto;
    height: 48px

  }

  #search_box {
    height: 30px;
    width:100px;
    /* padding: 5px; */
    font-style: oblique;
    border-radius: 12px;
    background-color: rgb(232, 178, 178);
    border: none;
  }
  #search_box:focus{
    width:160px;
  }
  #search_box:hover{
    width:160px;
  }

  #nav_btn_search {
    height: 44px;

  }

  #nav_btn_login {
    height: 44px;

  }

  #nav_btn_signup {
    height: 44px;

  }

  #AcademicTop:hover {
    font-weight: bolder;
    font-style: italic;
  }

  #bot {
    font-size: small;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 0, 0);
  }
  .card{
    display:inline-block;
    border: none;
    position: relative;
    left: 220px;
    padding:5px

  }
 
  #cardimage{
    height:420px
  }
  .crousal_btn_1{
    width: 120px;
    font-size: smaller;
    font-weight: bolder;
    font-style: italic;
    border-radius: 12px;
    border-color: brown;
  }
  .crousal_btn_1:hover{
    filter: drop-shadow(0.25rem 0 0.75rem #f20303)
  }
  .crousal_btn_2{
    width: 100px;
    font-size: smaller;
    font-weight: bolder;
    font-style: italic;
    border-radius: 12px;
    border-color: rgb(49, 49, 234);
  }
  .crousal_btn_2:hover{
    filter: drop-shadow(0.25rem 0 0.75rem #4340ed)
  }

  .crousal_btn_3{
    width: 100px;
    font-size: smaller;
    font-weight: bolder;
    font-style: italic;
    border-radius: 12px;
    border-color: rgb(102, 197, 109);

  }
  .crousal_btn_3:hover{
    filter: drop-shadow(0.25rem 0 0.75rem #5ded6c)
  }


  #card_btn_Register{
    width: 100px;
    font-size: smaller;
    font-weight: bolder;
    font-style: italic;
    border-radius: 12px;
    border-color: brown;
  }
  #card_btn_Register:hover{
    filter: drop-shadow(0.25rem 0 0.75rem #f20303)
  }
  #batn{
    position :static
  }

  #card_btn_Talkback{
    width: 100px;
    font-size: smaller;
    font-weight: bolder;
    font-style: italic;
    border-radius: 12px;
    border-color: brown;
  }
  #card_btn_Talkback:hover{
    filter: drop-shadow(0.25rem 0 0.75rem #f20303)
  }


  #card_btn_bookmark{
    position: relative;
    left: 36px;
    width: 120px;
    margin-top: 3px;
    font-size: smaller;
    font-weight: bolder;
    font-style: italic;
    border-radius: 12px;
    border-color: brown;
  }
  #card_btn_bookmark:hover{
    filter: drop-shadow(0.25rem 0 0.75rem #f20303)
  }
  
  .navbar_font{
    margin-top: 8px;
    font-size: smaller;
    font-weight: bolder;
  }
  #AcademicTop{
    font-weight: bolder;
    font-size: large;

  }
  #block{
    margin-left: 0px;
    width:100%;
    /* background-color: #4340ed; */
  }

.carousal .carousal-item{
  height:500px;
  width : 600px;

}
.carousal-item img{
  position : absolute;
  object-fit : cover;
  top : 0;
  left : 0;
  min-height: 500px;
  min-width: 500px;
  background-size: cover;

}
.carousel_slide{
  height:400px;
  font-size: smaller;
}
#Login{
  background-color: antiquewhite;
  margin: 50px;
  font-weight: bolder;
  border-radius: 12px;

}
#Signup{
  margin: 50px;
  font-weight: bolder;
  background-color: antiquewhite;
  border-radius: 12px;

}

  </style>